extends layout

block content 
  div.container(style='border:0px;')
    div#side-panel
      div#score-box
        p #[strong Score:] 0
        p #[strong High Score:] 0
      div#controls-box
        a#create_req(style='display:none;') &#128389  Request Rematch
        a#howtoplay &#128712 How to Play
        a#restart   &#128472 New Game
        a(href='/checkers-list') 📜 Games List
        a#req_btn(style='display:none') 📮 Requests
        div#req_box(style='display:none')
        a#flipBtn(title='Click to Rotate board') &#8635 Rotate
        div#info(style='display:none;')
      
    div#main-section
      input#game_id(type='hidden' name='game_id' value=game._id)
      form#restart(method='post' name='restart' action='/checkers/create')
        input(type='hidden' name='option' value=game.join_state == 'waiting' || game.join_state == 'joined'? 'friend': game.join_state == "engine"? 'computer' : 'oneplayer')
      div#alert-box
      div(style={display:'flex', width:'100%', "flex-direction":'column'})
        div#game-board
        br
        div(style={display:'flex',"justify-content":"space-between",'margin':'10px auto;', width:"100%", "max-width":'650px'})
          a#back &#8666 &#8666  
          a#forward &#8667 &#8667




  audio(hidden id='snd2' src='/media/test.mp3')
  audio(hidden id='snd1' src='/media/test2.mp3')
  audio(hidden id='loss' src='/media/lossing.mp3')
  audio(hidden id='win' src='/media/winning.mp3')
  audio(hidden id='draw' src='/media/wrong.mp3')
  audio(hidden id='alert-sound' src='/media/alert.mp3')
  script(src='/javascripts/checkers.js' defer='true')
