extends layout

block content
  div.container(style='border:0px;')
    div#side-panel
      div#score-box
        p #[strong Score:] 0
        p #[strong High Score:] 0
      div#controls-box
        a#create_req(style='display:none;') &#128389  Request Rematch
        a#howtoplay &#128712 How to Play
        a#restart   &#128472 New Game
        a(href='/colors') 📜  Games List
        a#req_btn(style='display:none') 📮 Requests
        div#req_box(style='display:none')
        div#info(style='display:none;')
      
    div#main-section
      input#game_id(type='hidden' name='game_id' value=game._id)
      form#restart(method='post' name='restart' action='/color/create')
        input#game_id(type='hidden' name='option' value=game.join_state == 'waiting' || game.join_state == 'joined'? 'friend': 'oneplayer')
      div#alert-box
      div#game-board

  audio(hidden id='loss' src='/media/lossing.mp3')
  audio(hidden id='win' src='/media/winning.mp3')
  audio(hidden id='wrong' src='/media/wrong.mp3')
  audio(hidden id='alert-sound' src='/media/alert.mp3')
  script(src='/javascripts/color.js' defer='true')
