extends layout

block content
  script(src='/javascripts/home.js' defer )
  h1(style='margin-top:25px; margin-bottom:0px;animation-iteration-count:infinite;text-align:center;color:#8fbcbb;animation-name:clt;animation-duration:10s;')  #[#welcome_text] 

  div.container.homebox
    div.container(style='flex-direction:column;')
      h2 Color Game
      a#create_clr 🛠  Create Game 
      form#create_box(style='display:none; flex-direction:column; padding:10px;' method='post' action='/color/create')
        p
         label(for='comp') Single Player 
         input(type='radio' id='comp' name='option' value='comp')
        p
          label(for='friend') Friend (Over the Wire) 
          input(type='radio' id='friend' name='option' value='friend')
        input(type='submit' value='▶ Play ') 

      a#join_clr ⨝ Join Game
      form#join_clr_box(style='display:none; flex-direction:column; padding:10px;' method='post' action='/color/join')
        p
          input(type='text' name='key' placeholder='Enter Game Code')
        input(type='submit' value='Join') 
      a(href='/colors') 📜 Game List

    div.container(style='flex-direction:column;')
      h2 Tic Tac Toe 
      a#create_ttt 🛠 Create Game
      form#tcreate_box(style='display:none; flex-direction:column; padding:10px;' method='post' action='/tictactoe/create')
        p
          label(for='tcomp') Play with Erik.
          input(type='radio' id='tcomp' name='option' value='computer')
        p
          label(for='t_internet') Friend (Over the Wire)  
          input(type='radio' id='t_internet' name='option' value='friend')
        p
          label(for='tfriend') Friend (In person)
          input(type='radio' id='tfriend' name='option' value='oneplayer')
        input(type='submit' value='▶ Play') 
      a#join_ttt ⨝ Join Game
      form#join_ttt_box(style='display:none; flex-direction:column; padding:10px;' method='post' action='/tictactoe/join')
        p
          input(type='text' name='key' placeholder='Enter Game Code')
        input(type='submit' value='Join') 
      a(href='/tictactoes')  📜 Game List

    div.container(style='flex-direction:column;')
      h2 Checkers 
      a#create_chk 🛠 Create Game
      form#ccreate_box(style='display:none; flex-direction:column; padding:10px;' method='post' action='/checkers/create')
        p
          label(for='ccomp') Play with Erik.
          input(type='radio' id='ccomp' name='option' value='computer')
        p
          label(for='c_internet') Friend (Over the Wire)  
          input(type='radio' id='c_internet' name='option' value='friend')
        p
          label(for='cfriend') Friend (In person)
          input(type='radio' id='cfriend' name='option' value='oneplayer')
        input(type='submit' value='▶ Play') 
      a#join_chk ⨝ Join Game
      form#join_chk_box(style='display:none; flex-direction:column; padding:10px;' method='post' action='/checkers/join')
        p
          input(type='text' name='key' placeholder='Enter Game Code')
        input(type='submit' value='Join') 
      a(href='/checkers-list') 📜 Game List
  
  h2(style=' margin-bottom:0px;animation-iteration-count:infinite;text-align:center;color:#8fbcbb;animation-name:clt;animation-duration:10s;')   A Highly Intuitive User Interface. 

  div#vid_box.container(style='flex-direction:column; max-width: max-content; box-shadow:none;')
    video(width='100%' autoplay loop muted poster="/images/favicon-32x32.png")
      source(src='/media/snow_globe.webm' type='video/webm')
      Your browser does not support the video tag.
