doctype html
html(lang='en')
  head
    meta(name='viewport' content="width=device-width, initial-scale=1")
    meta(name='title' content='Snow Globe')

    meta(name='description' content='We offer Board Games as a free service. e.g Checkers, Tic Tac Toe, Color Game.')
    meta(name='keywords' content='tic tac toe, board, games, checkers, color, game, multiplayer, single player, link, code')
    meta(name='robots' content='index,follow')
    meta(http-equiv='Content-Type' content='text/html;charset=utf-8')
    meta(name='language' content='English')
    meta(name='revisit-after' content="9days")
    meta(name='author' content='wednesday-256')
    title= 'Snow Globe' 
    link(rel='stylesheet', href='/static/css/main.d2348a31.css' )
    link(rel='apple-touch-icon' sizes='180x180' href='/images/apple-touch-icon.png')
    link(rel='icon' sizes='32x32' type="image/png" href='/images/favicon-32x32.png')
    link(rel='icon' sizes='16x16'  type="image/png" href='/images/favicon-16x16.png')
    link(rel="manifest" href="/images/site.webmanifest")
    script(src='/static/js/main.9ee62808.js' defer='defer' )
    noscript="You need to enable JavaScript to run this app."

    body
      block content
